/*  
    Copyright Abid Rahman 2018
    Filename: heightweight.css
    The main stylesheet 
*/

:root {
    --divider_color: rgb(155, 117, 91);
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    margin: 0;
}

p {
    font-size: 1.5em;
    font-weight: 200;
}

a {
    color: #000;
    text-decoration: none;
}

/* Player Search*/
input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: url(assets/search.png) no-repeat scroll 7px 7px;
    background-size: 15px 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--divider-color);
    width: 250px;
    height: 30px;
    padding-left: 3%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.ui-menu {
    font-size: 1.5em;
    color: #222;
    background: #fff;
    width: 200px;
    margin: 0;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid var(--divider-color); 
}

main {
    position: relative;
    margin: 0 auto 20px auto;
    max-width: 1050px;
}

#charts {
    text-align: center;
    padding: 10px 0;
}

#plots {
    z-index: 1;
    padding: 100px 0 0 0;
    text-align: center;
}

#plots p {
    margin: 0em;
    font-size: 1.5em;
}

#lists {
    margin-top: 20px;
    text-align: center;
    max-height: 250px;
    margin-left: 40px;
}

#year-filter {
    width: 920px;
}

#weight-filter {
    width: 450px;
}

#height-filter {
    width: 450px;
}

.chart-title {
    font-size: 2em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.background.bar {
    fill: #fff;
    stroke: var(--divider-color);
}

.foreground.bar {
    stroke: var(--divider-color);
    fill: rgba(198, 76, 64, 0.5);
}

.brush rect.extent {
    fill: var(--divider-color);
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.dot {
    fill: #fff;
}

.list {
    display: inline-block;
    text-align: left;
    min-height: 250px;
    line-height: 1.5em;
    font-size: 1.25em;
    width: 220px;
}

.list .player {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 1px;
}

.list .player .name {
    display: inline-block;
}

.list .player .value {
    float: right;
    margin-right: 50px;
}

.list-title {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

.playerInfo {
    font-size: 1.2em;
    display: none;
}

.playerInfo #playerInfoName {
    font-size: 1.2em;
}

.reset {
    font-size: 1em;
    color: rgb(114, 114, 114);
}

.title {
    font-size: 4em;
    font-weight: 200;
}

.total_count {
    font-size: 1.5em;
}

.zoom-brush rect.extent {
    fill: #fff;
    stroke: #000;
}

/* LOGO / HEADER */

header {
    position: fixed;
    width: 70vw;
    z-index: 10;
    height: 75px;
    border-bottom: var(--divider_color) solid 2px;
    background: #fff;
    margin-left: 15vw;
    min-width: 650px;
}

header span {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
}

header .logo .icon {
    width: 25px;
    height: 25px;
    fill: #000;
    margin:0;
}

.header-title {
    font-size: 2em;
    width: 65vw;
    min-width: 600px;
    text-align: left;
    float: left;
    color: #000;
}

/* BLOG LINKS / FOOTER */

/* BLOG LINKS / FOOTER */

footer {
    position: absolute;
    height: 50px;
    width: 70vw;
    margin-left: 15vw;
    background: #fff;
    min-width: 650px;
}

#blog {
    font-size: 1.5em;
    text-align: right;
    color: rgb(0, 0, 0);
    border-top: var(--divider_color) solid 2px;
    padding: 10px 0 10px 0;
    min-width: 750px;
}

#blog a {
    color: #000 !important;
    text-decoration: underline;
}