/*  
    Copyright Abid Rahman 2018
    Filename: heightweight.css
    The main stylesheet 
*/

:root {
    --primary-color: #C64640;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    text-align: left;
    margin: 0 auto 20px auto;
    max-width: 1050px;
}

p {
    font-size: 1.5em;
    font-weight: 200;
}

/* Player Search*/
input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: url(assets/search.png) no-repeat scroll 7px 7px;
    background-size: 15px 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--primary-color);
    width: 250px;
    height: 30px;
    padding-left: 3%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.ui-menu {
    font-size: 1.5em;
    color: #222;
    background: #fff;
    width: 200px;
    margin: 0;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid var(--primary-color); 
}

/* LOGO / HEADER */

#logo {
    position: fixed;
    width: 1050px;
    z-index: 10;
    background: white;
    height: 75px;
    border-bottom: rgb(187, 119, 31) solid 3px;
}

#logo span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 50px;
}

#logo img {
    margin-bottom: 10px;
}

.header-title {
    font-size: 3em;
    width: 50%;
    text-align: left;
    float: left;
    overflow: hidden;
    margin-top: 10px; 
}

#backlink {
    float:right;
    margin-bottom: 0;
}

#body {
    position: relative;
}

#charts {
    text-align: center;
    padding: 10px 0;
}

#plots {
    z-index: 1;
    padding: 100px 0 0 0;
    text-align: center;
}

#plots p {
    margin: 0em;
    font-size: 1.5em;
}

#lists {
    margin-top: 20px;
    text-align: center;
    max-height: 250px;
    margin-left: 40px;
}

#year-filter {
    width: 920px;
}

#weight-filter {
    width: 450px;
}

#height-filter {
    width: 450px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.background.bar {
    fill: #fff;
    stroke: var(--primary-color);
}

.foreground.bar {
    stroke: var(--primary-color);
    fill: rgba(198, 76, 64, 0.5);
}

.brush rect.extent {
    fill: var(--primary-color);
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.dot {
    fill: #fff;
}

.list {
    display: inline-block;
    text-align: left;
    min-height: 250px;
    line-height: 1.5em;
    font-size: 1.25em;
    width: 220px;
}

.list .player {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 1px;
}

.list .player .name {
    display: inline-block;
}

.list .player .value {
    float: right;
    margin-right: 50px;
}

.list-title {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

.playerInfo {
    font-size: 1.2em;
    display: none;
}

.playerInfo #playerInfoName {
    font-size: 1.2em;
}

.reset {
    font-size: 1em;
    color: rgb(114, 114, 114);
}

.title {
    font-size: 2em;
    padding-top: 1em;
    font-weight: 200;
}

.total_count {
    font-size: 1.5em;
}

.zoom-brush rect.extent {
    fill: #fff;
    stroke: #000;
}

/* BLOG LINKS / FOOTER */

#footer {
    width: 1050px;
    height: 5%;
    bottom: 5%;
    margin-top: 5%;
    color: rgb(0, 0, 0);
    border-top: rgb(187, 119, 31) solid 3px;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
}